<div class="content">
    <h2>Votre commande : </h2>
    <table>
        <thead>
            <th>Nom</th>
            <th>Quantité</th>
            <th>Prix</th>
            <th>Actions</th>
        </thead>
        <tbody>
            <tr *ngFor="let product of listPanier">
                <td>{{ product.name }}</td>
                <td>x {{ product.quantity }}</td>
                <td>{{ product.price }} €</td>
                <td><button>🚮</button></td>
            </tr>
        </tbody>
    </table>
    <p>Prix total : {{ prixTotal }} €</p>
</div>
